
<h1>Liste des chatons</h1>

<div class="items">
  <% @item.each do |item| %>
    <div class="item">
      <h2><%= item.title %></h2>
      <p><%= item.description %></p>
      <p><%= number_to_currency(item.price) %></p>
      <img src="<%= item.image_url %>" alt="<%= item.title %>" width="200" />
    </div>
  <% end %>
</div>