<div class="container mt-5">

  <h1>Votre Panier</h1>

  <% if @items.any? %>
  <ul>
    <% @items.each do |item| %>
    <li>
      <strong><%= item.title %></strong> - <%= number_to_currency(item.price) %>
      <%= button_to 'Retirer', remove_item_cart_path(item), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-danger btn-sm' %>
    </li>
    <% end %>
  </ul>

  <p>
    Total : <%= number_to_currency(@items.sum(&:price)) %>
  </p>
  <% else %>
  <p>Votre panier est vide.</p>
  <% end %>

  <%= link_to 'Continuer vos achats', items_path %>