<p style="color: green"><%= notice %></p>

<%= render @item %>

<div class="product">
  <h1><%= @item.title %></h1>
  <p><%= number_to_currency(@item.price) %></p>
  

  <%= button_to "Add to Cart", add_item_cart_path(@item), method: :post, class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
