<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>
  <%= button_to "Ajouter au panier", add_item_cart_path(item_id: @item.id), method: :post, class: "btn btn-primary" %>
  <%= button_to "Destroy this item", @item, method: :delete %>
</div>